@import url('https://fonts.googleapis.com/css?family=Poppins:300,bold'); 

* {
    outline: none !important;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.logo-format {
    width: 30px; 
    height: 30px;
}

#board {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-collapse: collapse;
}

#board td, #palette td {
    text-align: center;
    font-size: large;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#board td:hover, #palette td:hover {
    background-color: #f5dd90;
}

#board td:nth-child(3n), #palette td:not(:last-child) {
    border-right: 3px solid black;
}

#board tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

#palette {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

#score-board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: auto;
}

.table th, .table td {
    padding: 15px 20px;
}

.user-input {
    background-color: #f2f2f2;
}

.error {
    background-color: #f76c5e;
}

.selected {
    background-color: lightblue;
}